apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: nginx:1.28
          command: ["/bin/sh"]
          args:
            - -c
            - |
              echo "<h1>Hello from $(hostname)</h1>" > /usr/share/nginx/html/index.html && nginx -g 'daemon off;'


